{#

Docksal Sandbox Server template

#}

{% set project = env["project"] %}
{% set deployment = env["deployment"] %}
{% set instanceName = "%s-vm" % deployment %}
{% set zone = properties["zone"] %}
{% set machineType = properties["machineType"] %}
{% set dataDisk = "%s-data" % deployment %}
{% set dataDiskSizeGb = properties["dataDiskSizeGb"] %}

resources:

# Firewall
resources:
- name: {{ deployment }}-firewall
  type: compute.v1.firewall
  properties:
    network: https://www.googleapis.com/compute/v1/projects/{{ project }}/global/networks/default
    sourceRanges: ["0.0.0.0/0"]
    allowed:
    - IPProtocol: TCP
      ports:
        - "80"
        - "443"
        - "22"

# Data disk
- type: compute.v1.disk
  name: {{ dataDisk }}
  properties:
    zone: {{ zone }}
    sizeGb: {{ dataDiskSizeGb }}
    # Disk type is a full URI.  Example uses pd-standard, but pd-ssd can be used as well
    type: https://www.googleapis.com/compute/v1/projects/{{ project }}/zones/{{ zone }}/diskTypes/pd-standard

# VM instance
- type: compute.v1.instance
  name: {{ instanceName }}
  properties:
    zone: {{ zone }}
    machineType: https://www.googleapis.com/compute/v1/projects/{{ project }}/zones/{{ zone }}/machineTypes/{{ machineType }}

    disks:
    - deviceName: {{ dataDisk }}-boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        sourceImage: https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/images/ubuntu-minimal-2004-focal-v20200610
    - deviceName: {{ dataDisk }}-data
      type: PERSISTENT
      source: $(ref.{{ dataDisk }}.selfLink)
      autoDelete: true

    networkInterfaces:
    - network: https://www.googleapis.com/compute/v1/projects/{{ project }}/global/networks/default
      # Access Config required to give the instance a public IP address
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT

    metadata:
      items:
      {% for key, value in properties['metadata-from-file'].items() %}
      - key: {{ key }}
        value: |
          {{ imports[value]|indent(10) }}
    {% endfor %}

outputs:
  - name: deployment
    value: {{ deployment }}
  - name: project
    value: {{ project }}
  - name: vmId
    value: $(ref.{{ instanceName }}.id)
  - name: vmExternalIP
    value: $(ref.{{ instanceName }}.networkInterfaces[0].accessConfigs[0].natIP)
  - name: vmInternalIP
    value: $(ref.{{ instanceName }}.networkInterfaces[0].networkIP)
  - name: vmName
    value: {{ instanceName }}
  - name: vmSelfLink
    value: $(ref.{{ instanceName }}.selfLink)
