{% set project = env["project"] %}
{% set zone = properties["zone"] %}

resources:
# Data disk
- type: compute.v1.disk
  name: docksal-sandbox-disk
  properties:
    zone: {{ zone }}
    sizeGb: {{ properties['diskSizeGb'] }}
    # Disk type is a full URI.  Example uses pd-standard, but pd-ssd can be used as well
    type: https://www.googleapis.com/compute/v1/projects/{{ project }}/zones/{{ zone }}/diskTypes/pd-standard
